@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
        }
    100% {
        transform: translateY(0);
        }
    }

    
    .float-image {
        animation: float 3s ease-in-out infinite;
        animation-delay: 300ms;
    }
        
    .float-image2 {
        animation: float 3s ease-in-out infinite;
        animation-delay: 1500ms;
    }
    .float-image3 {
        animation: float 3s ease-in-out infinite;
        animation-delay: 2500ms;
    }