---
import Layout from "../layouts/Layout.astro";
import Hero from "../layouts/Hero.astro";
import Skills from "../layouts/Skills.astro";
import Proyects from "../layouts/Proyects.astro";
import { ViewTransitions } from 'astro:transitions';
import Experiencia from "../layouts/Experiencia.astro";
import Certificados from "../layouts/Certificados.astro";
import Footer from "../components/Footer.astro";

---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Portafolio web AnderDev@2024">
	<title>Portafolio</title>
	<ViewTransitions />
</head>
<body style="background-color: #13151a;">
	<Layout title="Welcome to my Portafolio">
		<Hero></Hero>
		<Skills></Skills>
		<Proyects></Proyects>
		<Experiencia></Experiencia>
		<Certificados></Certificados>
		<Footer></Footer>
	</Layout>
	
	<script src="script.js" type="module"></script>
</body>
</html>
<style is:global>
	html{
		scroll-behavior: smooth;
	}
</style>