---
import Layout from "../layouts/Layout.astro";
import Hero from "../layouts/Hero.astro";
import Skills from "../layouts/Skills.astro";
import Proyects from "../layouts/Proyects.astro";
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Portafolio web AnderDev@2024">
	<title>Portafolio</title>
</head>
<body style="background-color: #13151a;">
	<Layout title="Welcome to my Portafolio">
		<Hero></Hero>
		<Skills></Skills>
		<Proyects></Proyects>
	</Layout>
	
	<script src="script.js" type="module"></script>
</body>
</html>