---
import Layout from "../layouts/Layout.astro";

---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Portafolio web AnderDev@2024">
	<title>Portafolio</title>
</head>
<body>
	<Layout title="Welcome to my Portafolio.">
		
	</Layout>

	
	<script src="script.js" type="module"></script>
</body>
</html>