---
import { ViewTransitions } from "astro:transitions";
import Layout from "../layouts/Layout.astro";
import Base from "../layouts/Base.astro";

---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <ViewTransitions></ViewTransitions>
</head>
<body style="background-color: #13151a;">
		<Base title="Plataforma DevCollab" 
        descrip="DevCollab es una plataforma web en el que podrás realizar proyectos, aprender y aún más, poder generar relaciones profesionales y empresariales, abriéndose grandes oportunidades de trabajo.Desarollado en Django con Tailwind y PostgreSQL"
        version = "1.0" github="" link="https://www.youtube.com/watch?v=OeHPBhRzf_4"
        />
        <Base title="Plataforma DevCollab" 
        descrip="DevCollab es una plataforma web en el que podrás realizar proyectos, aprender y aún más, poder generar relaciones profesionales y empresariales, abriéndose grandes oportunidades de trabajo.Desarollado en Django con Tailwind y PostgreSQL"
        version = "1.0" github="" link="https://www.youtube.com/watch?v=OeHPBhRzf_4"
        />
		<!-- <Base title="Ecommerce Web"
            descrip="p"    version = "v1"/>
		<Base title="Sistema de predios"
            descrip="p"    version = "v1"/>
		<Base title="Sistema de pedidos online"
            descrip="p"    version = "v1"/>
		<Base title="Blog Personal"
            descrip="p"    version = "v1"/> -->

</body>
</html>