---
import { ViewTransitions } from "astro:transitions";
import Layout from "../layouts/Layout.astro";
import Base from "../layouts/Base.astro";

---

<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Proyecto</title>
      <ViewTransitions></ViewTransitions>
</head>
<body style="background-color: #13151a;">
            <h1 class="text-white mx-auto container text-center py-6 max-md:pt-5 max-md:py-0 max-md:text-3xl max-md:font-semibold text-4xl font-bold">Mis proyectos</h1>
		<Base title="Plataforma DevCollab" 
            descrip="DevCollab es una plataforma web en el que podrás realizar proyectos, aprender y aún más, poder generar relaciones profesionales y empresariales, abriéndose grandes oportunidades de trabajo.Desarollado en Django con Tailwind y PostgreSQL"
            version = "1.0" github="" link="https://www.youtube.com/watch?v=OeHPBhRzf_4"
            img="projects/img1.jpg" img2="projects/img2.jpg" img3="projects/img3.jpg" video="projects/VID_20231116_211039.mp4"
            />
            <Base title="Ecommerce Web" 
            descrip="Ecommerce web utilizando Django y MySQL, Docker , Git , GitHub Diversas funcionalidades como pasarela de pago con PayPal, carrito de compras, etc. Proyecto orientado a la mejora continua, con la perspectiva de implementar Frameworks como Angular, Vue o React en el futuro"
            version = "1.0" github="https://github.com/Anderson0421/Ecommerce" link="#"
            video="projects/VID_20231116_211039.mp4" img="projects/OIG.jpg" img2="projects/OIG.jpg" img3="projects/OIG.jpg" 

            />
		<Base title="Sistema de predios"
            descrip="Sistema de predios y deudas con Django y PostgreSQL Diversas funcionalidades como consultas de predios , consultas de deudas , Dashboard User, Registro de usuario, Dashboard Administrador, Login  Implementación de Datatables para la visualicen de datos , validaciones de formularios , Alertas en formularios ,etc. Este proyecto me ayudo a entender a mas profundo el framework Django y poner a prueba mis habilidades tanto como en el Backend y Frontend"    
            version = "v2"  github="https://github.com/Anderson0421/Ecommerce" link="#"
            video="projects/VID_20231116_211039.mp4" img="projects/OIG.jpg" img2="projects/OIG.jpg" img3="projects/OIG.jpg"
            
            />
		<Base title="Sistema de pedidos online"
            descrip="Web diseñada para un restaurante con diversos productos y un sistema de pedidos. Sistema administrativo de productos y pedidos, Esta sistema se incluyó PHP, CSS3 y JavaScript,  implemente AJAX para optimizar la carga de contenido. Además, gestioné la base de datos utilizando MySQL para garantizar la integridad de los datos y la funcionalidad del sitio.. El proyecto esta en proceso para ser implementado o mejorarlo con Laravel"    
            version = "v3" github="https://github.com/Anderson0421/restaurante" link="#"
            video="projects/VID_20231116_211039.mp4" img="projects/OIG.jpg" img2="projects/OIG.jpg" img3="projects/OIG.jpg"
            
            />
		<Base title="Blog Personal"
            descrip="Blog personal desarollado con Django Rest Framework para el backend creacion de API para los Posts y consumirla en el frontend con Astro y TailwindCSS, con perspectiva a mejorarlo aun mas con algun framework Frontend como Angular o Vue.js" 
            version = "en desarollo" github="https://github.com/Anderson0421/Blog-Personal" link="#"
            video="projects/VID_20231116_211039.mp4" img="projects/OIG.jpg" img2="projects/OIG.jpg" img3="projects/OIG.jpg"/
            
            >

</body>
</html>