---
    interface Props {
        title: string;
        descripcion: string;
        deploy:string;
        repos:string;
    }

    const { title,descripcion,deploy,repos } = Astro.props;
---
<div class="p-7 animated-border 2xl:w-2/4 max-md:w-max max-md:mx-5">
    <h1 class="flex text-xl items-center justify-between mb-3 font-bold">{title}
        <div class="flex gap-2">
            <a href={deploy} target="_blank" aria-label="Deploy" ><svg width="40" class="w-7 hover_icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M20 4L12 12M20 4V8.5M20 4H15.5M19 12.5V16.8C19 17.9201 19 18.4802 18.782 18.908C18.5903 19.2843 18.2843 19.5903 17.908 19.782C17.4802 20 16.9201 20 15.8 20H7.2C6.0799 20 5.51984 20 5.09202 19.782C4.71569 19.5903 4.40973 19.2843 4.21799 18.908C4 18.4802 4 17.9201 4 16.8V8.2C4 7.0799 4 6.51984 4.21799 6.09202C4.40973 5.71569 4.71569 5.40973 5.09202 5.21799C5.51984 5 6.07989 5 7.2 5H11.5" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            </a>
            <a href={repos} target="_blank" aria-label="github">
                <img width="25" class="hover_icon" src="icons/github-142-svgrepo-com.svg" alt="">
            </a>
        </div>
    </h1>
    <div>
        <p class="text-lg max-w-sm text-gray-300">✅ {descripcion} </p>
    </div>
    <div class="flex gap-3 mt-4 max-w-full flex-wrap max-md:w-full max-md:gap-2">
        <slot/>
    </div>
    <div class="mt-5 border-t-4">
        <a href="#" aria-label="About more" class="mt-4 font-bold flex gap-3 items-center text-gray-300 hover:text-gray-50 hover:duration-200 hover:transition-all hover:brightness-150">
            Mas informacion<svg viewBox="0 0 24 24" width="27" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.0007 12C15.0007 13.6569 13.6576 15 12.0007 15C10.3439 15 9.00073 13.6569 9.00073 12C9.00073 10.3431 10.3439 9 12.0007 9C13.6576 9 15.0007 10.3431 15.0007 12Z" stroke="#ebebeb" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M12.0012 5C7.52354 5 3.73326 7.94288 2.45898 12C3.73324 16.0571 7.52354 19 12.0012 19C16.4788 19 20.2691 16.0571 21.5434 12C20.2691 7.94291 16.4788 5 12.0012 5Z" stroke="#ebebeb" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </a>
    </div>
</div>
<style>
    .hover_icon:hover{
        transition: all 0.2s ease-in;
        transform: scale(110%);

    }
    .animated-border {

        border: 4px solid transparent;
        border-image: linear-gradient(45deg, #ffffff, black) 30;
        border-image-slice: 1;
        animation: borderMove 7s linear infinite;
    }

        @keyframes borderMove {
        0% {
            border-image-source: linear-gradient(45deg, #ffffff, black);
        }
        25% {
            border-image-source: linear-gradient(77deg, #ffffff, black);
        }
        50% {
            border-image-source: linear-gradient(125deg, #ffffff, black);
        }
        75% {
            border-image-source: linear-gradient(250deg, #ffffff, black);
        }
        90% {
            border-image-source: linear-gradient(360deg, #ffffff, black);
        }
        }
        100% {
            border-image-source: linear-gradient(45deg, #ffffff, black);
        }

</style>