---
import HeaderBottom from "./HeaderBottom.astro";

---
<div class="bg-gray-950  bg-opacity-95 mx-20 max-md:mx-0">
    <div class="mx-5 py-5 text-blue-100 font-semibold flex justify-between ">
        <div class="hidden sm:flex items-center gap-x-5">
            <a href="#" class="flex items-center">
                <p class="font-bold">Ander</p><img src="icons/dev-to-svgrepo-com.svg" class="w-9 text-white ml-1" alt="">
            </a>
            <div class="space-x-4">
                <a href="#">Inicio</a>
                <a href="#">Proyectos</a>
                <a href="#">Experiencia</a>
                <a href="#">Certificados</a>
            </div>
        </div>

        <div class="flex items-center gap-x-5">
            <a href="#" class="flex items-center">
                <img src="icons/github-142-svgrepo-com.svg" class="w-8 text-white ml-1" alt="">
            </a>
            <a href="#" class="flex items-center">
                <img src="icons/linkedin-svgrepo-com.svg" class="w-8 text-white ml-1" alt="">
            </a>
        </div>

        <!-- Botón de menú para pantallas pequeñas -->
        <div class="sm:hidden">
            <button class="text-white" id="show_menu">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6L18 18"></path>                </svg>
            </button>

            <!-- Menú desplegable para pantallas pequeñas -->
            <div class="hidden">
                <a href="#" class="block py-2 text-white">Inicio</a>
                <a href="#" class="block py-2 text-white">Proyectos</a>
                <a href="#" class="block py-2 text-white">Experiencia</a>
                <a href="#" class="block py-2 text-white">Certificados</a>
            </div>

        </div>
    </div>
</div>
<HeaderBottom></HeaderBottom>

<style is:global>
.menu-appear {
    animation-name: menu-appear-animation;
    animation-duration: 0.5s;
}

@keyframes menu-appear-animation {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-disappear {
    animation-name: menu-disappear-animation;
    animation-duration: 0.5s;
}

@keyframes menu-disappear-animation {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100px);
    }
}

.icon-change path {
    animation-name: icon-change-animation;
    animation-duration: 0.2s;
}

@keyframes icon-change-animation {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

</style>