---
import { ViewTransitions } from "astro:transitions";
import Card from "../components/Card.astro";
---
<ViewTransitions/>
<section class="mb-20" id="experiencia">
    <div class="flex justify-center mb-10">
        <h1 class="text-white text-4xl font-extrabold tracking-wider"><span class="bg-gradient-to-r from-sky-200  to-blue-600 text-transparent bg-clip-text ">Resumen</span></h1>
    </div>
    <div class="flex flex-wrap lg:flex-nowrap">
        <div class="text-white flex flex-col gap-5 mx-4 lg:mx-10 w-full lg:w-1/2 mb-16">
            <div class="border-l-2">
                <div class="ml-3 flex flex-col gap-2">
                    <h1 class="font-extrabold text-3xl">Sobre mi</h1>
                    <h1 class="font-bold text-blue-500 hover:text-blue-400 duration-200 bg-gray-800 w-max p-2 rounded-r-xl">ANDERSON MARCELO HERRERA</h1>
                    <p class="text-gray-100">Software developer , Conocimientos s贸lidos en las tecnolog铆as como Python con sus framework Django asi tambien con PHP con Laravel, JavaScript
                        con Vue.js y Astro, TailwindCSS , MySQL, SQL y PostgreSQL, con actitud fuerte de liderazgo , comunicaci贸n acertiva y buen trabajo en equipo.
                        <ul class="ml-5">
                            <li class="list-disc"> Per煤 - Lima - San Martin de Porres</li>
                            <li class="list-disc"> andymarcelo21@outlook.es</li>
                            <li class="list-disc"> 941166905</li>
                        </ul>
                    </p>
                    <h1 class="font-bold text-blue-500 hover:text-blue-400 duration-200 bg-gray-800 w-max p-2 rounded-r-xl">Habilidades blandas</h1>
                    <ul class="ml-5">
                        <li class="list-disc">Liderazgo</li>
                        <li class="list-disc">Comunicacion asertiva</li>
                        <li class="list-disc">Escucha activa</li>
                        <li class="list-disc">Puntual - Honesto</li>
                    </ul>
                </div>
            </div>
            <div class="border-l-2">
                <div class="ml-3 flex flex-col gap-2">
                    <h1 class="font-extrabold text-3xl">Educacion</h1>
                    <h1 class="font-bold text-blue-500 hover:text-blue-400 duration-200 bg-gray-800 w-max p-2 rounded-r-xl">2021- 2024</h1>
                    <p class="text-gray-100">SENATI -Servicio Nacional de Adiestramiento en Trabajo Industrial
                        Estudios en la carrera de ingeniera de software en el instituto Senati , el periodo de carrera de duraci贸n 3 a帽os
                    </p>
                </div>
            </div>
        </div>
        <div class="text-white flex flex-col gap-5 mx-4 lg:mx-10 w-full lg:w-1/2">
            <div class="border-l-2">
                <div class="ml-3 flex flex-col gap-2">
                    <h1 class="font-extrabold text-3xl">Experiencia Profesional</h1>
                    <h1 class="font-bold text-gray-300">Practicante pre profesional Ing. de sistemas</h1>
                    <h1 class="text-blue-500 hover:text-blue-400 duration-200 bg-gray-800 w-max p-2 rounded-r-xl">F5 SOLUTIONS</h1>
                    <h1 class="font-bold text-blue-500 hover:text-blue-400 duration-200 bg-gray-800 w-max p-2 rounded-r-xl">Septiembre-2023 / Enero 2024</h1>
                    <p class="flex">En esta etapa he adquirido mucho conocimiento y experiencia
                        durante la trayectoria estuve presente en varios proyectos donde destaqu茅 por mi comunicaci贸n acertiva y aporte de ideas
                        y aporte con mis habilidades tecnicas
                        <h1 class="font-bold text-blue-500 hover:text-blue-400 duration-200 bg-gray-800 w-max p-2 rounded-r-xl">LOGROS</h1>
                        <ul class="ml-5">
                            <li class="list-disc">Lider del proyecto DevCollab (Plataforma de proyectos)</li>
                            <li class="list-disc">Sistema de aprendizaje en linea (Backend Developer)</li>
                            <li class="list-disc">Sistema de predios (Fullstack Developer)</li>
                        </ul>
                        <h1 class="font-bold text-blue-500 hover:text-blue-400 duration-200 bg-gray-800 w-max p-2 rounded-r-xl">Roles y Conocimiento</h1>
                        <ul class="ml-5">
                            <li class="list-disc">Estuve presente en la empresa como Fullstack Developer y dirigendo el proyecto DevCollab</li>
                            <li class="list-disc">Django - Laravel - PHP - MySQL - Vue.js - Tailwindcss </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>