<div class="mx-12 md:mx-24 max-sm:mx-6 md:py-20 flex flex-col md:flex-row items-center">
    <div class="md:w-1/2  text-white text-center md:text-left flex flex-col">
        <div>
            <h1 class="text-3xl md:text-4xl font-bold mb-3 flex items-center flex-wrap gap-2">
                Hola, soy<span class="text-4xl md:text-5xl font-extrabold bg-gradient-to-b from-blue-800 via-blue-100 to-blue-900 inline-block text-transparent bg-clip-text">Anderson
                    <span class="text-3xl md:text-5xl text-black">👋</span>
                </span>
            </h1>
        </div>
        <div class="leading-loose text-gray-200 text-base md:text-xl w-3/4 font-semibold flex justify-center items-center text-start">
            <p>Ingeniero de software. FullStack Developer, persona autodidacta con una fuerte actitud de liderazgo y creatividad, tengo una pasión innata por el aprendizaje constante y autónomo</p>
        </div>
    </div>
    <div class="md:w-1/2 flex justify-center">
        <img class="rounded-lg max-w-sm m-5 max-sm:w-52 shrink-0" src="1212.webp" alt="picture">
    </div>

</div>

<div class="max-sm:w-8 max-sm:h-14 w-12 h-24 top-0 mx-auto flex flex-col items-center bg-violet-700 rounded-full text-white">
    <svg viewBox="0 0 24 24" class="motion-safe:animate-pulse pt-2"  fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 6V18M12 18L7 13M12 18L17 13" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    <svg viewBox="0 0 24 24" class="w-8 motion-safe:animate-spin" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="4 4"></path> </g></svg></div>