<div class="mx-4 md:mx-24 py-8 md:py-28 pb-44">
    <div class=" md:w-2/3 text-white flex flex-col items-center md:items-start ">
        <h1 class="text-3xl md:text-4xl font-bold flex items-center mb-3 max-sm:justify-center flex-wrap gap-2">
            Hola, soy<span class="text-4xl md:text-5xl font-extrabold bg-gradient-to-b from-blue-800 via-blue-100 to-blue-900 inline-block text-transparent bg-clip-text">Anderson  </span>
            <span class="text-3xl md:text-5xl">👋</span>
        </h1>
        <div class="leading-loose text-gray-200 text-base md:text-xl w-3/4 font-semibold md:w-3/4">
            <p>Ingeniero de software. FullStack Developer, persona autodidacta con una fuerte actitud de liderazgo y creatividad, tengo una pasión innata por el aprendizaje constante y autónomo</p>
            <div class="flex flex-col md:flex-row gap-4 leading-normal items-center">
                <div class="bg-gradient-to-r from-blue-950 to-gray-900 rounded  md:w-max p-3 md:p-5 mt-2">
                    <div class="flex gap-3 items-center">
                        <img src="1212.webp" class="w-10 md:w-12 rounded-full" alt="picture">
                        <div class="flex flex-col">
                            <h1 class="text-sm md:text-base">Anderson Marcelo Herrera</h1>
                            <a class="text-sm md:text-base text-violet-400" href="#">@Anderson0421</a>
                        </div>
                    </div>
                    <div class="flex flex-col gap-0.5 md:gap-1 mt-3 ml-1">
                        <p class="text-sm md:text-base">Fullstack Developer</p>
                        <p class="text-xs md:text-sm">+15 Repositorios</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
