<div class="mx-24 py-28">
    <div class="w-2/3 text-white flex flex-col">
        <h1 class="text-4xl font-bold flex items-center mb-3">Hola, soy<span class="text-5xl font-extrabold  bg-gradient-to-b from-blue-800 via-blue-100 to-blue-900 inline-block text-transparent bg-clip-text px-3 ">Anderson  </span><span class="text-5xl">👋</span></h1>
        <div class="leading-loose text-gray-200 text-xl w-3/4">
            <p>Ingeniero de software. FullStack Developer , persona autodidacta con una fuerte actitud de liderazgo y creatividad, tengo una pasión innata por el aprendizaje constante y autónomo</p>
            <div class="flex gap-x-4  leading-normal items-center">
                <div class="text-white bg-gradient-to-r mt-5 from-blue-950 to-gray-900 rounded w-max p-5">
                    <div class="flex gap-x-5 items-center">
                        <img src="1212.webp" class="w-12 rounded-full" alt="picture">
                        <div class="flex flex-col">
                            <h1 class="text-sm">Anderson Marcelo Herrera</h1>
                            <a class="text-sm text-violet-400" href="#">@Anderson0421</a>
                        </div>
                    </div>
                    <div class="flex flex-col gap-0.5 mt-3 ml-1">
                        <p >Fullstack Developer</p>
                        <p class="text-xs">+15 Repositorios</p>
                    </div>
                </div>
            </div>
        </div>
        
        
</div>