---
import Card from "../components/Card.astro";

---

<section class=" mb-36">
    <div class="flex justify-center mb-10">
        <h1 class="text-white text-4xl font-bold">Lista de <span class="bg-gradient-to-l from-blue-500  to-blue-600 text-transparent bg-clip-text">proyectos</span></h1>
    </div>
    <div class="text-white flex flex-wrap  gap-5 justify-center lg:mx-10">
        <Card title="Title"></Card>
    </div>
</section>