---
import { ViewTransitions } from "astro:transitions";
import Card from "../components/Card.astro";
---
<ViewTransitions/>
<section  class="mb-24 section" id="proyectos">
    <div class="flex justify-center mb-10  max-[350px]:pl-5"><h1 class="text-white text-4xl font-extrabold tracking-wider">Lista de <span class="bg-gradient-to-l from-blue-500  to-blue-600 text-transparent bg-clip-text ">proyectos</span></h1></div>
    <div class="text-white flex flex-wrap  gap-5 justify-evenly lg:mx-10">
        <Card  deploy="https://github.com/Anderson0421" repos="https://github.com/Anderson0421" title="🌟 DevCollab " descripcion=" Plataforma de proyectos, red social web de proyectos para unir la comunidad y que consigan mas experiencia!">
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-8 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/laravel-svgrepo-com.svg" alt=""></div>
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-9 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/mysql-logo-svgrepo-com.svg" alt=""></div>
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-9 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/tailwind-svgrepo-com.svg" alt=""></div>
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-8 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/vue-svgrepo-com.svg" alt=""></div>
        </Card>
        <Card deploy="https://github.com/Anderson0421" repos="https://github.com/Anderson0421" title="🌟 Ecommerce" descripcion="Proyecto web realizado con Django y MySQL  Ecomerce de productos tecnlogicos">
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-7 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/django.svg" alt=""></div>
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-8 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/docker.svg" alt=""></div>
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-9 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/mysql-logo-svgrepo-com.svg" alt=""></div>
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-8 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/html-5-svgrepo-com.svg" alt=""></div>
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-8 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/css-3-svgrepo-com.svg" alt=""></div>
        </Card>
        <Card  deploy="https://github.com/Anderson0421/Ecommerce" repos="https://github.com/Anderson0421/Ecommerce" title="☆ Dashboard Administrativo" descripcion="Sistema web realizado con PHP y MySQL Dashboard Administrativo para un restaurante">
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-8 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/php-svgrepo-com.svg" alt=""></div>
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-9 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/mysql-logo-svgrepo-com.svg" alt=""></div>
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-8 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/html-5-svgrepo-com.svg" alt=""></div>
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-8 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/css-3-svgrepo-com.svg" alt=""></div>
        </Card>
        <Card deploy="https://github.com/Anderson0421/Sistema-Predios" repos="https://github.com/Anderson0421/Sistema-Predios" title="☆ Sistema de predios" descripcion="Sistema web realizado con Django y PostgreSQL">
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-7 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/django.svg" alt=""></div>
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-9 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/postgresql-svgrepo-com.svg" alt=""></div>
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-8 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/html-5-svgrepo-com.svg" alt=""></div>
            <div class="bg-gray-800 rounded-lg px-3 py-3 font-bold group"><img class="w-8 group-hover:scale-110 group-hover:duration-300 transition-all" src="icons/css-3-svgrepo-com.svg" alt=""></div>
        </Card>
    </div>
</section>