<div class="mx-20 max-md:mx-6 pt-10 pb-28 max-sm:mx-2">
    <div class="w-1/2">
        <div>
            <h1 class="text-white text-3xl font-semibold">
                <span class="font-extrabold text-sky-400">Conocimientos</span>
            </h1>
            <h1 class="text-white mt-5 text-2xl font-semibold">Backend</h1>
            
        </div>
        <div class="flex w-16 gap-4 max-sm:w-10">
            <img class="m-3" src="icons/php-svgrepo-com.svg" alt="tecnologia">
            <img class="m-3" src="icons/laravel-svgrepo-com.svg" alt="tecnologia">
            <img class="m-3" src="icons/django-icon-svgrepo-com.svg" alt="tecnologia">
        </div>
        <h1 class="text-white mt-5 text-2xl font-semibold">Frontend</h1>
    
        <div class="flex w-16 gap-4 max-sm:w-12 ">
            <img class="m-3" src="icons/tailwind-svgrepo-com.svg" alt="tecnologia">
            <img class="m-3" src="icons/javascript-svgrepo-com.svg" alt="tecnologia">
            <img class="m-3" src="icons/html-5-svgrepo-com.svg" alt="tecnologia">
            <img class="m-3" src="icons/css-3-svgrepo-com.svg" alt="tecnologia">
            <img class="m-3 w-10 max-sm:w-8 " src="icons/astro-icon-light-gradient.svg" alt="tecnologia">
        </div>
    
        <h1 class="text-white mt-5 text-2xl font-semibold">Database</h1>
        <div class="flex w-20 gap-4 max-sm:w-12">
            <img class="m-3" src="icons/mysql-logo-svgrepo-com.svg" alt="tecnologia">
            <img class="m-3" src="icons/mongodb-svgrepo-com.svg" alt="tecnologia">
            <img class="m-3" src="icons/microsoft-sql-server-logo-svgrepo-com.svg" alt="tecnologia">   
        </div>
        <h1 class="text-white mt-5 text-2xl font-semibold">Otros</h1>
        <div class="flex w-16 gap-4 max-sm:w-10">
            <img class="m-3" src="icons/git-svgrepo-com.svg" alt="tecnologia">
            <img class="m-3" src="icons/github-octocat-svgrepo-com.svg" alt="tecnologia">
            <img class="m-3" src="icons/visual-studio-code-svgrepo-com.svg" alt="tecnologia">
            <img class="m-3" src="icons/pycharm-svgrepo-com.svg" alt="tecnologia">
        </div>
    
        
    </div>
</div>